.movie-thumbnail{
    width:300px;
    margin:10px;
}
.movie-overview{
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.movie-image{
    height:300px !important;
}
.movie-overview::-webkit-scrollbar{
    width: 2px;
    background: gray;
}
.movie-title{
    height: 60px;
}
.movie-actions{
    text-align: right;
    
}
.buttond{
    float: left;
}