<mat-card class="movie-thumbnail">
    <mat-card-header class="movie-title">
        <mat-card-title>{{movie?.title}}</mat-card-title>
        <mat-card-subtitle>{{movie?.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-image" mat-card-image [src]="movie?.poster_path" [alt]="movie?.title">
 		 <mat-card-content class="movie-overview" *ngIf="!useWatchlistApi">{{movie?.overview}}</mat-card-content>
    <mat-card-content class="movie-overview" *ngIf="useWatchlistApi">{{movie?.comments}}</mat-card-content>
    <mat-card-actions class="movie-actions" >
        <button *ngIf="!useWatchlistApi" class = "addButton" mat-button color="primary" (click)="addToWatchlist(movie)">Add to Watchlist</button>
        <button *ngIf="useWatchlistApi" mat-button color="primary" (click)="deleteFromWatchlist(movie)" class="buttond">Delete</button>
        <button *ngIf="useWatchlistApi" mat-button color="primary" (click)="updateFromWatchlist('update')">Update</button>

    </mat-card-actions>
</mat-card>